<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beveragebooker.customer_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SavePasswordActivity"></activity>
        <activity android:name=".activities.AddToCartActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.OrderConfirmationActivity" />
        <activity android:name=".activities.PlaceOrderActivity" />
        <activity android:name=".activities.BookDeliveryActivity" />
        <activity android:name=".activities.SelectOrderTypeActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.BrowseMenu" />
        <activity android:name=".activities.CreateUserActivity" />
        <activity android:name=".activities.PrimaryMenu" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="fcm_default_channel" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>